/*--------CSS Demo Stylesheet--------*/

/*--------Box Sizing--------*/

html{
    box-sizing: border-box;
}
*,
*:before;
*:after {
    box-sizing: inherit;
}


/*--------Responsive Images--------*/
.img{
    max-width:100%;
    height:auto;
}


/*--------Utility Styles--------*/

.container{
    width:70vw;
    margin: 40px auto;
}

.img-right{
    float:right;
    margin:10px 0 10px 20px;
    border:1px solid #c0c0c0;
    padding:5px;
}

.img-left{
    float:left;
    margin:10px 20px 10px 0;
    border:1px solid #c0c0c0;
    padding:5px;
}

/*--------Global Styles--------*/
/*--------applies to the entire page------*/

body{
    margin:0;
    font-family: 'Open Sans', sans-serif;
}
/*--------header element with the class of primary--------*/
/*--------header.primary specifies the section being targeted-------*/
/*--------Color Scheme-------*/
/*--------#403001 #261501 #D9B589 #592B02 #F2955E--------*/
header.primary{
    background-color:#D9B589;
    text-align:center;
    color:#000000;
    text-shadow:2px 2px 20px #000000;
/*--------Padding varities--------*/
/*-------long form example--------*/
    padding-top:40px;
    padding-right:40px;
    padding-bottom:20px;
    padding-left:40px;
/*-------short form examples--------*/
/*--------T,R,B,L---------*/
padding:40px 40px 20px 40px;
/*--------Top/Bottom Right/Left--------*/
padding:20px 40px;

}

header.primary h1{
   font-size:3.2rem; 
/*--------Top/Bottom Right/Left--------*/  
    margin:20px 0;
}

header.primary h1 a{
    color:#ffffff;
    text-decoration:none;
}

header.primary h2{
    font-size: 2rem;
/*--------Top | Left/Right | Bottom--------*/     
    margin: 20px auto 40px;
}

header.primary nav{
  width:80vw;  
  margin:20px auto;
  max-width:900px;
}

header.primary nav ul{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    padding:0;
}

header.primary nav ul li{
   list-style-type: none; 
}

header.primary nav a:link, header.primary nav a:visited{
    color:#ffffff;
    text-decoration:none;
    background-color:000000;
    background-color:rgba(0,0,0, .4);
    padding:8px 16px;
    border-radius:30px 10px;
    transition:.5;
}

header.primary nav a:hover, header.primary nav a:active{
    background-color:rgba(0,0,0, .8);
}
#intro{
    border-bottom:10px dotted #c0c0c0;
    padding-bottom:1.5rem;
}

#intro h2{
   color:#f2955e; 
}

#intro p{
    line-height:1.5;
}

#content{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    /*--------Shorthand--------*/
    flex-flow: row space-between;
    border-bottom:1px dotted c0c0c0;
    padding-bottom:2.6rem;
} 

#content article.post{
    width:30%;
    box-shadow:0, 4px 8px rgba(0,0,0, .4)
    padding:.7em;
    border-radius:10px;
    font-size:.7rem;
    transition:.5s;
    
}

#content article.post:hover{
    box-shadow:0 8px 16px rgba(0,0,0, .4);
}

#content .post figure{
    margin:0;
}

#content article time, #content article figcaption, #content article footer{
    font-size:.8em;
    text-transform:uppercase;
    color:#c0c0c0;
}

#content article img{
    border-radius:4px;
}

#content article a:link, #content article a:visited{
    color:#f2955e;
}

#content article a:hover, #content article a:active{
    text-decoration:none;
}

/*-----Attribute Selector-----*/
aside[role="complementary"]{
    background-color:#f2955e;
    padding:2.2rem;
}

aside .container{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

aside article.widget{
    width:40%; 
}

aside a:link, aside a:visited{
    color:white;
    display:block;
    margin-top:20px;
}

/*--------This turns off an element from a user-------*/
/*--------This also hides content from screen readers-------*/
aside footer{
    display:none;
}

#colophon{
    background-color:#d9b589;
}

#colophon h6{
    padding:20px;
    margin:0;
    color:white;
    text-align:center;
    font-size:.8rem;
    text-transform:uppercase;
}

#additional-elements h2{
    color:#d9b589;
    border-bottom:1px dotted #c0c0c0;
}

#additional-elements a:link, #additional-elements a:visited{
    color:#d9b589;
}

#additional-elements a:hover, #additional-elements a:active{
    text-decoration:none;
}

#additional-elements h3{
    clear:both;
    border-left:solid 5px #d9b589;
    padding-left:10px;
}

table{
    width:100%;
    border:1px solid #c0c0c0;
    border-collapse:collapse;
    margin-top:40px;
    margin-bottom:40px; 
}

table td{
    border:1px solid #c0c0c0;
    padding:5px;
}

table th{
    background-color:#d9b589;
    width:33%;
    padding:10px;
}

table tr:nth-child(even){
    background-color:rgba(0,0,0,.1);
}

table tr:hover{
    background-color:rgba(0,0,0,.2);
}

table caption{
    color:d9b589;
    padding:10px;
    font-weight:bold;
    font-size:1.4rem;
}

#additional-elements ul{
    list-style-type:square;
}

#additional-elements ol{
    list-style-type:upper-roman;
}

#additional-elements ul li ul{
    color:orange;
}
#additional-elements dl{
    
}

#additional-elements dt{
    font-weight:bold;
    font-size:1.2rem;
}

#additional-elements dd{
    margin:0;
    
    
}

/*-----Adjacent Sibling Combinator-----*/

dd + dt {
    margin-top:20px;
}

blockquote{
    background:rgba(0,0,0,.15);
    padding:40px 60px;
    border:5px solid #c0c0c0;
    border-radius:60px;
    font-size:1.2em;
}

blockquote cite{
    display:block;
    font-size:.6rem;
    font-weight:bold;
    text-align:right;
    margin-top:1.2rem;
}







